html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
.banner {
  flex-shrink: 0;
  height: 5vh;
}
.button {
  font-family: inherit;
  font-size: larger;
  font-weight: 700;
  margin: 1%;
  min-height: 3rem;
}
.button-level {
  height: 3rem;
}
.buttons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25% 25%;
  max-height: 400px;
  width: 100%;
}
.del-button {
  grid-area: 1/4/3/5;
}
.display__equation {
  font-size: 1.5em;
  font-weight: 700;
}
.display__input {
  border: none;
  font-family: inherit;
  font-size: 1.5em;
  font-weight: 700;
  text-align: end;
  width: 100%;
}
.enter-button {
  grid-area: 3/4/5/5;
}
.footer {
  text-align: center;
  height: 5vh;
  font-size: 0.8em;
  word-wrap: normal;
  margin-top: auto;
}
html {
  height: 100%;
  width: 100%;
}
.level-panel {
  align-items: center;
  align-content: stretch;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.page {
  align-items: center;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  font-family: 'Orbitron', sans-serif;
  min-height: 100%;
}
.page-content {
  width: 330px;
  flex: 1 0 auto;
}
@media (max-height: 748px) {
  .input-panel,
  .equation-panel {
    display: inline-block;
  }
}
